button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.pokemon-card{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 163, 163);
    position: static;
    border-radius: 10%;
    .entry {
        z-index: 1; /* navbar is set to 5, # and name will not overlap da navbar :3 */
        position: absolute;
        display: flex;          
        align-items: center;   
        width: 300px; 
        height: 60px;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        background-color: aliceblue;
        .pokedex-number{
            display: flex;
            width: 80px;
            justify-content: center;
            font-weight: 650;
        }
        .pokemon-name{
            width: 220px;
            display: flex;
            justify-content: center;
        }
    }
    img{
        background-color: rgb(255, 163, 163);
        border-radius: 10% 10% 10% 10%;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
        height: 240px
    }

}

.pokemon-card:hover{
    background-color: aqua;
}